Repository priceline/design-system, pull requests merged in 2020-12, with the labels that each got.

#972 Apply changes to publish menu package
  apps/docs/package.json
  apps/storybook/package.json
  common/changes/pcln-design-system/new-menu-package_2020-11-16-19-52.json
  common/changes/pcln-design-system/new-menu-package_2020-12-01-17-51.json
  common/changes/pcln-menu/new-menu-package_2020-11-16-19-52.json
  packages/autocomplete/package.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/menu/CHANGELOG.json
  packages/menu/CHANGELOG.md
  packages/menu/package.json
  packages/modal/package.json
  packages/popover/package.json
  packages/slider/package.json
  tools/types/package.json
Labels: core, menu, release

#969 Update createTheme to overwrite MQ based on breakpoints + update applyStyles to read theme from context
  common/changes/pcln-design-system/update-custom-breakpoints-queries_2020-12-04-01-25.json
  packages/core/src/Badge/Badge.js
  packages/core/src/Stamp/Stamp.js
  packages/core/src/theme/theme.js
  packages/core/src/utils/createMediaQueries/createMediaQueries.js
  packages/core/src/utils/createMediaQueries/createMediaQueries.spec.js
  packages/core/src/utils/createMediaQueries/index.js
  packages/core/src/utils/createTheme.js
  packages/core/src/utils/index.js
  packages/core/src/utils/utils.js
Labels: core

#977 Apply changes for 4.1.1
  apps/docs/package.json
  apps/storybook/package.json
  common/changes/pcln-design-system/update-custom-breakpoints-queries_2020-12-04-01-25.json
  packages/autocomplete/package.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/menu/package.json
  packages/modal/package.json
  packages/popover/package.json
  packages/slider/package.json
  tools/types/package.json
Labels: core, release

#978 Fix bug when passing aria-label to Button and related components
  apps/docs/package.json
  apps/storybook/package.json
  common/changes/pcln-popover/fix-button-aria-label_2020-12-04-19-34.json
  packages/autocomplete/package.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/Button/Button.js
  packages/core/src/Button/Button.spec.js
  packages/core/src/IconButton/IconButton.stories.js
  packages/menu/package.json
  packages/modal/package.json
  packages/popover/package.json
  packages/popover/src/Popover/__snapshots__/Popover.spec.js.snap
  packages/slider/package.json
  tools/types/package.json
Labels: bug, core

#984 Apply changes for ShadowOverlay
  apps/docs/package.json
  apps/storybook/package.json
  common/changes/pcln-design-system/shadow-overlay_2020-12-08-20-45.json
  packages/autocomplete/package.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/menu/package.json
  packages/modal/package.json
  packages/popover/package.json
  packages/slider/package.json
  tools/types/package.json
Labels: core, new component, release

#986 Update v4 migration guide
  MIGRATION_GUIDES/MIGRATING_to_v4.md
Labels: docs

#981 Fix error when using Icon in pcln-icons with IconField
  common/changes/pcln-design-system/fix-iconfield-error_2020-12-06-01-57.json
  packages/core/src/IconField/IconField.js
Labels: bug, core

#979 Pass parent theme to popover content
  common/changes/pcln-popover/popover-pass-theme_2020-12-05-00-29.json
  packages/popover/src/Popover/Popover.spec.js
  packages/popover/src/Popover/Popover.stories.js
  packages/popover/src/Popover/__snapshots__/Popover.spec.js.snap
  packages/popover/src/PopoverContent/PopoverContent.js
Labels: bug, popover

#987 Create docsite page for breakpoints
  apps/docs/pages/Breakpoints.md
  apps/docs/src/navigation.js
Labels: docs

#994 Add Accessibility SkipMenu component to DS
  README.md
  apps/docs/pages/SkipMenu.md
  common/changes/pcln-design-system/a11y-skip-menu_2020-12-24-18-19.json
  packages/core/src/ShadowEffect/ShadowEffect.spec.js
  packages/core/src/SkipMenu/SkipMenu.js
  packages/core/src/SkipMenu/SkipMenu.spec.js
  packages/core/src/SkipMenu/SkipMenu.stories.js
  packages/core/src/SkipMenu/index.js
  packages/core/src/index.js
Labels: core, new component

#993 Resolve storybook warnings and upgrade dep in Modal
  common/changes/pcln-design-system/modal-upgrade-rtg_2020-12-22-18-58.json
  common/changes/pcln-modal/modal-upgrade-rtg_2020-12-22-18-58.json
  common/config/rush/pnpm-lock.yaml
  packages/core/src/Button/Button.js
  packages/core/src/InputGroup/InputGroup.stories.js
  packages/core/src/Stamp/Stamp.stories.js
  packages/core/src/TextArea/TextArea.stories.js
  packages/modal/package.json
Labels: core, modal

#991 add generic banner
  apps/docs/pages/GenericBanner.md
  common/changes/pcln-design-system/generic-banner_2020-12-21-21-19.json
  common/changes/pcln-icons/generic-banner_2020-12-21-21-19.json
  packages/core/src/Chip/Chip.spec.js
  packages/core/src/GenericBanner/GenericBanner.js
  packages/core/src/GenericBanner/GenericBanner.spec.js
  packages/core/src/GenericBanner/GenericBanner.stories.js
  packages/core/src/GenericBanner/__snapshots__/GenericBanner.spec.js.snap
  packages/core/src/GenericBanner/index.js
  packages/core/src/ShadowEffect/ShadowEffect.spec.js
  packages/core/src/Text/Text.js
  packages/core/src/index.js
Labels: core

#996 Set line-height on Icon
  common/changes/pcln-icons/985-icon-line-height_2020-12-28-20-47.json
  packages/core/src/Avatar/__snapshots__/Avatar.spec.js.snap
  packages/core/src/Banner/__snapshots__/Banner.spec.js.snap
  packages/core/src/Breadcrumbs/__snapshots__/Breadcrumbs.spec.js.snap
  packages/core/src/Checkbox/__snapshots__/Checkbox.spec.js.snap
  packages/core/src/CloseButton/__snapshots__/CloseButton.spec.js.snap
  packages/core/src/FormField/__snapshots__/FormField.spec.js.snap
  packages/core/src/IconButton/__snapshots__/IconButton.spec.js.snap
  packages/core/src/IconField/__snapshots__/IconField.spec.js.snap
  packages/core/src/Radio/__snapshots__/Radio.spec.js.snap
  packages/core/src/Select/__snapshots__/Select.spec.js.snap
  packages/core/src/Step/__snapshots__/Step.spec.js.snap
  packages/core/src/Stepper/__snapshots__/Stepper.spec.js.snap
  packages/icons/src/Icon.stories.js
  packages/icons/src/Svg.js
  packages/modal/src/__snapshots__/Headers.spec.js.snap
Labels: bug, icons

#997 Add Shimmer component to core
  common/changes/pcln-design-system/170-shimmer-component_2020-12-29-14-55.json
  packages/core/src/GenericBanner/__snapshots__/GenericBanner.spec.js.snap
  packages/core/src/Shimmer/Shimmer.js
  packages/core/src/Shimmer/Shimmer.spec.js
  packages/core/src/Shimmer/Shimmer.stories.js
  packages/core/src/Shimmer/index.js
  packages/core/src/index.js
Labels: core, new component
