Repository priceline/design-system, pull requests merged in 2020-11, with the labels that each got.

#955 Apply changes for checkbox fix
  apps/docs/package.json
  apps/storybook/package.json
  common/changes/pcln-design-system/checkout-noChange-not-required_2020-10-26-13-20.json
  packages/autocomplete/package.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/modal/package.json
  packages/popover/package.json
  packages/slider/package.json
  tools/types/package.json
Labels: core

#959 small size should have a line height of 20px
  common/changes/pcln-design-system/stamp-line-height-update_2020-11-06-17-27.json
  packages/core/src/Badge/Badge.js
  packages/core/src/Badge/__snapshots__/Badge.spec.js.snap
  packages/core/src/Stamp/Stamp.js
  packages/core/src/Stamp/__snapshots__/Stamp.spec.js.snap
Labels: bug, core

#961 Fix style bug in popover
  common/changes/pcln-popover/popover-bugfix_2020-11-06-20-33.json
  packages/popover/package.json
  packages/popover/src/Popover/__snapshots__/Popover.spec.js.snap
  packages/popover/src/PopoverContent/PopoverContent.js
  packages/popover/src/PopoverContent/PopoverContent.spec.js
Labels: bug, popover

#966 Apply changes for 3.7.1
  apps/docs/package.json
  apps/storybook/package.json
  common/changes/pcln-design-system/fix-font-weight-regression_2020-11-13-18-04.json
  packages/autocomplete/package.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/modal/package.json
  packages/popover/package.json
  packages/slider/package.json
  tools/create-release-notes/package.json
  tools/types/package.json
Labels: bug, core
