Repository priceline/design-system, pull requests merged in 2021-02, with the labels that each got.

#1007 Apply changes for 4.3.2
  common/changes/pcln-design-system/background-image-height_2021-02-01-21-19.json
  packages/autocomplete/CHANGELOG.json
  packages/autocomplete/CHANGELOG.md
  packages/autocomplete/package.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/menu/CHANGELOG.json
  packages/menu/CHANGELOG.md
  packages/menu/package.json
  packages/modal/CHANGELOG.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/popover/CHANGELOG.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/slider/CHANGELOG.json
  packages/slider/CHANGELOG.md
  packages/slider/package.json
Labels: core, release

#1008 Update Link docs to include variation prop
  apps/docs/pages/Link.md
Labels: docs

#1016 Add Covid related flights icons
  common/changes/pcln-icons/feature-covid-related-icons_2021-02-16-19-27.json
  packages/icons/src/index.js
  packages/icons/svg/mask.svg
  packages/icons/svg/noSeat.svg
  packages/icons/svg/sick.svg
Labels: icons

#1017 Apply changes
  common/changes/pcln-design-system/button-variations_2021-02-05-13-57.json
  common/changes/pcln-design-system/generic-banner-fix_2021-02-08-17-16.json
  common/changes/pcln-design-system/image-height-and-spacing_2021-02-10-18-31.json
  common/changes/pcln-icons/feature-covid-related-icons_2021-02-16-19-27.json
  common/changes/pcln-icons/fix-create-release-notes_2021-01-12-15-47.json
  packages/autocomplete/CHANGELOG.json
  packages/autocomplete/CHANGELOG.md
  packages/autocomplete/package.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/icons/CHANGELOG.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/menu/CHANGELOG.json
  packages/menu/CHANGELOG.md
  packages/menu/package.json
  packages/modal/CHANGELOG.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/popover/CHANGELOG.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/slider/CHANGELOG.json
  packages/slider/CHANGELOG.md
  packages/slider/package.json
Labels: core, icons, release

#1019 Fix incorrect default color of RatingBadge
  common/changes/pcln-design-system/ratingbadge-default-color_2021-02-17-15-18.json
  packages/core/src/RatingBadge/RatingBadge.js
  packages/core/src/RatingBadge/__snapshots__/RatingBadge.spec.js.snap
Labels: bug, core

#1020 Apply changes for 4.4.1
  common/changes/pcln-design-system/ratingbadge-default-color_2021-02-17-15-18.json
  common/changes/pcln-icons/feature-covid-related-icons_2021-02-16-20-52.json
  packages/autocomplete/CHANGELOG.json
  packages/autocomplete/CHANGELOG.md
  packages/autocomplete/package.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/icons/CHANGELOG.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/menu/CHANGELOG.json
  packages/menu/CHANGELOG.md
  packages/menu/package.json
  packages/modal/CHANGELOG.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/popover/CHANGELOG.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/slider/CHANGELOG.json
  packages/slider/CHANGELOG.md
  packages/slider/package.json
Labels: core, release

#1021 Fix backward compatibility issue in RatingBadge
  common/changes/pcln-autocomplete/ratingbadge-color-fix_2021-02-19-18-20.json
  common/changes/pcln-design-system/ratingbadge-color-fix_2021-02-19-18-20.json
  common/changes/pcln-icons/ratingbadge-color-fix_2021-02-19-18-20.json
  common/changes/pcln-menu/ratingbadge-color-fix_2021-02-19-18-20.json
  common/changes/pcln-modal/ratingbadge-color-fix_2021-02-19-18-20.json
  common/changes/pcln-popover/ratingbadge-color-fix_2021-02-19-18-20.json
  common/changes/pcln-slider/ratingbadge-color-fix_2021-02-19-18-20.json
  packages/core/src/RatingBadge/RatingBadge.js
  packages/core/src/RatingBadge/RatingBadge.spec.js
  packages/core/src/RatingBadge/RatingBadge.stories.js
  packages/core/src/RatingBadge/__snapshots__/RatingBadge.spec.js.snap
Labels: bug, core

#1023 Update theme blue to accessible alternative
  common/changes/pcln-design-system/accessible-blue_2021-02-22-15-59.json
  common/changes/pcln-modal/accessible-blue_2021-02-22-15-59.json
  common/changes/pcln-popover/accessible-blue_2021-02-22-15-59.json
  common/changes/pcln-slider/accessible-blue_2021-02-22-15-59.json
  packages/core/src/Avatar/__snapshots__/Avatar.spec.js.snap
  packages/core/src/Badge/__snapshots__/Badge.spec.js.snap
  packages/core/src/Banner/__snapshots__/Banner.spec.js.snap
  packages/core/src/BlockLink/__snapshots__/BlockLink.spec.js.snap
  packages/core/src/Box/__snapshots__/Box.spec.js.snap
  packages/core/src/Checkbox/__snapshots__/Checkbox.spec.js.snap
  packages/core/src/Chip/Chip.spec.js
  packages/core/src/CloseButton/__snapshots__/CloseButton.spec.js.snap
  packages/core/src/Divider/__snapshots__/Divider.spec.js.snap
  packages/core/src/FormField/__snapshots__/FormField.spec.js.snap
  packages/core/src/IconButton/__snapshots__/IconButton.spec.js.snap
  packages/core/src/IconField/__snapshots__/IconField.spec.js.snap
  packages/core/src/Input/__snapshots__/Input.spec.js.snap
  packages/core/src/Link/__snapshots__/Link.spec.js.snap
  packages/core/src/Radio/__snapshots__/Radio.spec.js.snap
  packages/core/src/Select/__snapshots__/Select.spec.js.snap
  packages/core/src/Stamp/__snapshots__/Stamp.spec.js.snap
  packages/core/src/Step/__snapshots__/Step.spec.js.snap
  packages/core/src/Stepper/__snapshots__/Stepper.spec.js.snap
  packages/core/src/TextArea/__snapshots__/TextArea.spec.js.snap
  packages/core/src/ToggleBadge/__snapshots__/ToggleBadge.spec.js.snap
  packages/core/src/Tooltip/__snapshots__/Tooltip.spec.js.snap
  packages/core/src/theme/__snapshots__/theme.spec.js.snap
  packages/core/src/theme/theme.js
  packages/modal/src/__snapshots__/Headers.spec.js.snap
  packages/popover/src/Popover/__snapshots__/Popover.spec.js.snap
  packages/slider/src/__snapshots__/index.spec.js.snap
Labels: core

#1027 Apply changes for core 4.5.0
  apps/docs/src/Logo.js
  apps/docs/src/NavLink.js
  common/changes/pcln-autocomplete/ratingbadge-color-fix_2021-02-19-18-20.json
  common/changes/pcln-design-system/UXPT-1163-progress-bar_2021-02-22-20-08.json
  common/changes/pcln-design-system/accessible-blue_2021-02-22-15-59.json
  common/changes/pcln-design-system/ratingbadge-color-fix_2021-02-19-18-20.json
  common/changes/pcln-menu/popover-button-props-and-full-width_2021-02-22-19-26.json
  common/changes/pcln-menu/ratingbadge-color-fix_2021-02-19-18-20.json
  common/changes/pcln-modal/accessible-blue_2021-02-22-15-59.json
  common/changes/pcln-modal/ratingbadge-color-fix_2021-02-19-18-20.json
  common/changes/pcln-popover/accessible-blue_2021-02-22-15-59.json
  common/changes/pcln-popover/popover-button-props-and-full-width_2021-02-22-19-26.json
  common/changes/pcln-popover/ratingbadge-color-fix_2021-02-19-18-20.json
  common/changes/pcln-slider/accessible-blue_2021-02-22-15-59.json
  common/changes/pcln-slider/ratingbadge-color-fix_2021-02-19-18-20.json
  packages/autocomplete/CHANGELOG.json
  packages/autocomplete/CHANGELOG.md
  packages/autocomplete/package.json
  packages/core/CHANGELOG.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/ProgressBar/ProgressBar.spec.js
  packages/core/src/RatingBadge/RatingBadge.spec.js
  packages/core/src/utils/utils.js
  packages/core/src/utils/utils.spec.js
  packages/menu/CHANGELOG.json
  packages/menu/CHANGELOG.md
  packages/menu/package.json
  packages/modal/CHANGELOG.json
  packages/modal/CHANGELOG.md
  packages/modal/package.json
  packages/popover/CHANGELOG.json
  packages/popover/CHANGELOG.md
  packages/popover/package.json
  packages/slider/CHANGELOG.json
  packages/slider/CHANGELOG.md
  packages/slider/package.json
Labels: release

#1026 Add popover page to docsite
  apps/docs/package.json
  apps/docs/pages/Popover.md
  apps/docs/src/components.js
  apps/docs/src/navigation.js
  packages/popover/README.md
Labels: developer experience, docs, popover

#1029 Add prop to overlay docs
  apps/docs/pages/Popover.md
Labels: docs
